DB_NAME=name_example
DB_PASSWORD=password_example

GEMINI_KEY=your_gemini_api_key_here

AWS_S3_ENDPOINT=http://localhost:9000
AWS_S3_PUBLIC_URL=http://localhost:9000
AWS_BUCKET_NAME=wallet
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=us-east-1
AWS_S3_ACCESS_KEY=test
AWS_S3_SECRET_KEY=test
